name: build image and push to DockerHub

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  schedule:
    - cron: "0 0 * * 0"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v2.1.0
      with:
        platforms: all

    - name: Set up Docker Buildx
      id: buildx
      uses: docker/setup-buildx-action@v2.5.0

    - name: Login to DockerHub
      if: github.event_name != 'pull_request'
      uses: docker/login-action@v2.1.0
      with:
        username: xr09
        password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

    - name: Push latest
      id: docker_build_latest
      uses: docker/build-push-action@v4.0.0
      with:
        builder: ${{ steps.buildx.outputs.name }}
        context: ./
        file: ./Dockerfile
        platforms: linux/amd64
        push: ${{ github.event_name != 'pull_request' }}
        pull: true
        cache-from: type=registry,ref=xr09/alpine-bash:latest
        cache-to: type=inline
        outputs: type=image,oci-mediatypes=true,push=true
        tags: |
          xr09/alpine-bash:latest
